* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    min-height: 80vh;
}

.header,
.footer {
    height: 10vh;
    background-color: steelblue;
    display: grid;
    place-items: center;
}
.countries {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    max-width: 1400px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 15rem;
}
.country {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
}
.title {
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-size: 2rem;
}

.countries {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    max-width: 1400px;
    margin: 0 auto;
}
.country__flag {
    height: auto;
}
main {
    background-color: gray;
}
.caption {
    background-color: tomato;
}

/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 100%;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
